:root {
    --board-length: 400px;
}

html {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
            user-select: none;
}

#board {
    background-image: url("../graphics/chessboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--board-length);
    height: var(--board-length);
}

.piece {
    cursor: grab;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(var(--board-length) / 8);
    height: calc(var(--board-length) / 8);
}

.dragging {
    cursor: grabbing;
    z-index: 1;
}

.highlight {
    position: absolute;
    background-color: yellow;
    opacity: .5;
    width: calc(var(--board-length) / 8);
    height: calc(var(--board-length) / 8);
}