:root {
  --board-length: 400px;
}

* {
  box-sizing: border-box;
}

.slide {
  transition: transform .1s;
}

html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#board {
  background-image: url("../graphics/chessboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--board-length);
  height: var(--board-length);
}

.piece {
  z-index: 1; /* To be above highlights. */
  cursor: grab;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--board-length) / 8);
  height: calc(var(--board-length) / 8);
}

.dragging {
  z-index: 3; /* To be above everything. */
  cursor: grabbing;
}

.highlight {
  z-index: 0; /* To be below pieces. */
  position: absolute;
  background-color: yellow;
  opacity: .5;
  width: calc(var(--board-length) / 8);
  height: calc(var(--board-length) / 8);
}

.move-marker {
  z-index: 2; /* To be above move markers. */
  position: absolute;
  background-clip: content-box;
  background-color: black;
  opacity: .4;
  border-radius: 50%;
  padding: calc(var(--board-length) / 24);
  width: calc(var(--board-length) / 8);
  height: calc(var(--board-length) / 8);
}

.capture-marker {
  z-index: 2; /* To be above move markers. */
  position: absolute;
  border: calc(var(--board-length) / 64) solid black;
  opacity: .4;
  border-radius: 50%;
  width: calc(var(--board-length) / 8);
  height: calc(var(--board-length) / 8);
}