.wp .pieceImage {
  background-image: url("../graphics/pawn-w.png");
}

.wr .pieceImage {
  background-image: url("../graphics/rook-w.png");
}

.wn .pieceImage {
  background-image: url("../graphics/knight-w.png");
}

.wb .pieceImage {
  background-image: url("../graphics/bishop-w.png");
}

.wk .pieceImage {
  background-image: url("../graphics/king-w.png");
}

.wq .pieceImage {
  background-image: url("../graphics/queen-w.png");
}

.bp .pieceImage {
  background-image: url("../graphics/pawn-b.png");
}

.br .pieceImage {
  background-image: url("../graphics/rook-b.png");
}

.bn .pieceImage {
  background-image: url("../graphics/knight-b.png");
}

.bb .pieceImage {
  background-image: url("../graphics/bishop-b.png");
}

.bk .pieceImage {
  background-image: url("../graphics/king-b.png");
}

.bq .pieceImage {
  background-image: url("../graphics/queen-b.png");
}
